<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <h1>This is the about page</h1>
    <p>This came from the template: {{index .StringMap "test"}}</p>
    <p>
      {{if ne (index .StringMap "remote_ip") ""}}
        Your remote IP address is {{index .StringMap "remote_ip"}}
      {{else}}
        I don't know your ip address yet. Visit the <a href="/">Home page</a>
      {{end}}
    </p>
</body>
</html>